body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
main{
    display: flex;
    flex-direction: column;
}
section{
    padding-left: 25px;
    padding-right: 25px;
}
img{
    max-width: 100%;
}
/*everything with red border bottom  and global things*/
#hero, h2, h1, #carousel{
    border-bottom: 2px solid #fe2200;
}
.sideBorder{
    border-left: 0.3px solid #fe2200;
    border-right: 0.3px solid #fe2200;
    padding:2px 7px 2px 7px
}
/********************************************
                header
***********************************************/
#header{
background-color: #fe2200;
padding: 0px;
margin: 0px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
justify-items: center;
align-items: center ;
}
#header a{
    width: 85px;
    grid-column: 2/3;
}
#nav{
    display: none;
}
#header #logo{
    width: 85px;
}
#hero{
}
/********************************************
                footer
***********************************************/
footer{
    background-color: #fe2200;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items:center;
}
footer a{
    grid-column: 1/3;
}
#createdBy{
    grid-column: 1/3;
}
#footerEmail{
    grid-column: 1/2;
}
#contactFooter{
    grid-column: 2/3;
    color: #000000; 
}
#sources{
    grid-column: 1/3;
}

/********************************************
                text
***********************************************/
h2, h1{
    display: inline-block;
    font-family: 'Racing Sans One', cursive;
}
h1{
    text-align: center;
    margin-top: 4px;
}
h2{
    margin-bottom: 10px;
}
p, a, h3, label{
    font-family: 'Barlow', sans-serif;
}
/********************************************
                buttons,links  and boxes
***********************************************/
button{
    border-color: transparent;
}
.green{
    background-color: #1F7E53;
    border-radius: 5px;
    text-align: center;
    color: white;
    text-decoration: none;
    width:110px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.green:hover{
    text-decoration: underline;
    cursor: pointer;
}
/*
.green:focus{
    background-color: #105133;

}
*/
.white{
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    height: 30px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    color: black;
    margin-top: 20px;
}
.blueA{
    text-decoration: underline;
    font-size: 1.5rem;
    color: #12A2B3;
}
.tag{
    background-color: #12A2B3;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    height: 40px;
    width: 90px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tagDiv{
    grid-column: 3/5;
    display: flex;
    column-gap: 5%;
    flex-direction: row-reverse;
    margin: 4px;

}
.blueBox{
    border-radius: 13px;
    background-color: #12a2b3;
    padding: 5px;

}
/********************************************
                carousel
***********************************************/

#carousel{
    padding-bottom: 10px;
}
.carouselItems{
    padding-top: 10px;
}
/********************************************
                post cards
***********************************************/
.post{
    border-radius: 4.5px;
    box-shadow: 0px 3.7px 3.7px rgba(0, 0, 0, 0.25);
    border:  0.1px solid #000000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "img img img img"
    "h3 h3 h3 h3"
    "date date date date"
    "ex ex ex ex"
    "more more tags tags";
    padding-bottom:10px;
    margin-bottom: 10px;

}
.post img{
    grid-area: img;
    width: 100%;
}
.post h3{
    display: inline-block;
    grid-area: h3;
    padding: 5px;
    text-decoration: underline #fe2200 2px;
    
}
.post .dateAndBy{
    grid-area: date;
    padding: 5px;
    margin: 0px;
}
.post .excerpt{
    grid-area: ex;
    padding: 5px;
    margin: 0;
}
.excerpt p{
    margin: 0;
}
.post .blueA{
    grid-area: more;
    padding: 5px;
}
.post .tagDiv{
    grid-area: tags;

    
}
/********************************************
                    about main page
***********************************************/
#mainPageAbout h2{
    margin-left: 10px;
}
#aboutBox{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
}
#aboutBox h3{
    grid-column: 1/3;
    text-align: center;
    margin-top: 0;
}
#aboutBox p{
    grid-column: 1/3;
    margin: 5px;
}
/********************************************
                    contact main page
***********************************************/
#contactBox{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    margin-bottom: 20px;

}

/********************************************
                featured posts
***********************************************/

#featured{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
     "h2 topbtn"
     "postsection postsection"
     "botbtn botbtn";
     justify-items: center;
     align-items: center;
}
#featured h2{
grid-area: h2;
}
#featured #mainPagePosts{
    grid-area: postsection;
    width: 100%;
}
#featured #top{
    grid-area: topbtn;
}
#featured #bottom{
    grid-area: botbtn;
    margin: 10px
}


/********************************************
                all posts page
***********************************************/
#allPosts{
    padding: 0px;
    margin: 0 auto;
    width: 95%;
    margin-bottom: 10px;
}

/* hmmmm*/
.center{
    margin: 0 auto;
}
/********************************************
                posts page
***********************************************/

#post{
    width: 80%;
    margin: 0 auto;
}
.content{
}
.postInfo{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: #fe2200 solid 2px;
}
.tags{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
#author{
    grid-column: 1/2;
}
#writtenOn{
    grid-column: 3/4;
}
.backBtn{
    display: block;
    text-align: center;
    margin-bottom: 7px;
}

/********************************************
                contact page
***********************************************/

form{
    width: 80%;
    margin: 0 auto;
    display: grid;
}
form input, textarea{
    min-height: 26px;
    border-radius: 5px;
    background-color: #f3f3f3;
    border: solid black 1px;
    margin-top: 4px;
}

form label{
    margin-top: 10px;
}
#message{
    min-height: 110px;
    max-height: 110px;
    min-width: 200px;
    max-width: 200px;
}
.buttons{
    margin: 10px 0;
    display: flex;
    column-gap: 20px;
    align-items: center
}

/********************************************
                about page
***********************************************/

.aboutBox{
    width: 90%;
    height: 50%;
    margin: 0 auto;
    background-color: #eee;
    border-radius: 10px;
    border: solid 1px #9d9d9d;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px 0;
    justify-content: space-between;
    row-gap: 10px;
}


.aboutBox h2{
    border: none;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    margin-top: 10px;
}
.aboutBox img{
    border-radius: 10px;
    width: 80%;
}
.aboutInfo{
    border-top: solid 2px #fe2200;
}
.aboutInfo h3{
    text-align: center;
    text-decoration: underline 2px #fe2200;
}
.aboutInfo p{
    width: 80%;
    margin: 0 auto;
}

/*****************************************************
                        tablet
****************************************************/
@media screen and (min-width:768px) {

    /***************
         navigation
    ******************/
    #header{
        grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
    }
    #header a{
        grid-column: 2/3;
    }
    #nav{
        display: flex;
        grid-column: 3/6;
    }
    #nav a{
        text-decoration: none;
        color: #000000;
        font-family: 'Racing Sans One', cursive;
        text-align: center;
    }
    #tempNav{
        display: none;
    }

/********************************************
dette er for karusel, gjøres senere
*******************************
    .post{
        border-radius: 0px;
        box-shadow: 0px 3.7px 3.7px rgba(0, 0, 0, 0.25);
        border:  0.1px solid #000000;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.1fr 1fr 0.2fr 0.2fr;
        padding-bottom:10px;
        margin-bottom: 10px;
        justify-items: center;
    
    }
    .post img{
        grid-column: 3/5;
        grid-row: 1/5;
        width: 100%;
    }
    .post h3{
        display: inline-block;
        grid-column: 1/3;
        grid-row: 1/2;
        padding: 5px;
        text-align: center;
        text-decoration: underline #fe2200 2px;
        
    }
    .post .dateAndBy{
        grid-column: 1/2;
        grid-row: 3/4;

        padding: 5px;
        margin: 0px;
    }
    .post .excerpt{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .excerpt p{
        margin: 0;
    }
    .post .blueA{
        grid-column: 1/3;
        grid-row: 4/5;
        text-align: center;
        padding: 5px;
    }
    .post .tag{
        grid-column: 2/3;
        grid-row: 3/4;
    
    }
    */
    /* featured tablet*/
    #mainPagePosts{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        row-gap: 10px;
        column-gap: 10px;
        
    }
    /* contact main page tablet */
    #contactBox{
        height: 120px;
    }
    /* main page about */
    #aboutBox{
        align-items: center;
    }
    #personBtn, #pageBtn{
        grid-column: 2/3;
    }
    #personBtn{
        grid-row: 2/3;
        
    }
    #aboutBox p{
        grid-column: 1/2;
    }

    /***********************************************************
                                all posts page tablet(this should be used on carousel tablet also)
    *************************************************************/
    #allPosts .post{
        border-radius: 0px;
        box-shadow: 0px 3.7px 3.7px rgba(0, 0, 0, 0.25);
        border:  0.1px solid #000000;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.1fr 1fr 0.2fr 0.2fr;
        grid-template-areas:
        "h3 h3 img img"
        "ex ex img img"
        "data date img img"
        "tags more img img";
        padding-bottom:10px;
        margin-bottom: 10px;
        justify-items: center;
    }
    #allPosts .post img{
        width: 100%;
    }
    #allPosts .post h3{
        display: inline-block;
        padding: 5px;
        text-align: center;
        text-decoration: underline #fe2200 2px;
        
    }
    #allPosts .post .dateAndBy{
        padding: 5px;
        margin: 0px;
    }
    #allPosts .post .excerpt{
    }
    #allPosts.excerpt p{
        margin: 0;
    }
    #allPosts .post .blueA{
        text-align: center;
        padding: 5px;
    }
    #allPosts .post .tagDiv{

    }
    #allPosts .post .tag{
        
    }
 /***********************************************************
                                single post page tablet
*************************************************************/
    #post{
        width: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: auto auto auto;
    }
    #featuredImage{
        grid-column: 1/3;
    }
    #forord{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #post img:last-of-type{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .content{
        grid-column: 1/3;
    }
    .postInfo{
        grid-column: 1/3;
    }
    .postInfo p{
        grid-column: 1/2;
    }
    .backBtn{
        grid-column: 1/3;
    }
    /****************************************
    about page tablet
    *****************************************/

    .aboutBox{
        width: 70%;
    }
    #personInfo{
        border-top: solid 120px #222222;
    }
    .aboutInfo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center


    }
    .aboutInfo div{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .aboutInfo img{
        grid-row: 2/3;
    }
 /****************************************
    contact page tablet
    *****************************************/
    #contact{
        width: 75%;
        margin: 0 auto;
    }
    #contact img{
        max-width: 100%;
    }
    #contact .info, form{
        padding: 5px 7%;
    }
    .middle{
        text-align: center;
    }
  
    input{
        width: 60%;
        height: 25px;
    }
    #message{
        width: 70%;
        font-family: 'Barlow', sans-serif;
    }
    form{
        margin: 0 0;
    }
    #ourEmail,#socialMedia{
        border-bottom: solid white 1px;
    }
}

/*******************************************
               bigger screens 
********************************************/
@media screen and (min-width:1024px) {
       /****************************************
                   various global things pc/bigger screens
    *****************************************/
    body{
        background-color: #F3F3F3;
    }
    main{
        /*margin: 0 auto;*/
        background-color: #fff;
    }
    main#greySide{
        max-width: 80%;
        margin: 0 auto;
        
    }
    .green{
        border-radius: 1px;
    }
    #hero{

    }
     /****************************************
                    main header pc/bigger screens
    *****************************************/
    #header #logo{
        height: 100%;
    }
    #header #logo img{
        height: 100%;
    }
    #header{
        height: 100px;
    }
    #nav{
        width: 100%;
        gap: 12%;
        justify-content: center;
    }
    #nav a{
        font-size: 1.5rem;
    }
    #nav a:hover{
        color: white;
        text-decoration: underline;
    }
     /****************************************
                    main page carousel pc/bigger screens
    *****************************************/
    #carousel{
        max-width: 85%;
        margin: 0 auto;
    }
    .carouselItems{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    /****************************************
                    main page about pc/bigger screens
    *****************************************/
    #mainPageAbout{
        padding: 10px 0px;
        display: grid;
        grid-template-columns:1fr  1fr 1fr 1fr;
        justify-items: end;
    }
    #mainPageAbout h2{
        grid-column: 1/2;
    }
    #aboutBox{
        grid-column: 1/5;
        border-radius: 0px;
        height: 250px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #aboutBox h3{
        grid-column: 2/4;
    }
    #aboutBox p{
        grid-column: 2/3;
    }
    #aboutBox a{
        grid-column: 3/4;
    }
    /****************************************
            main page featured posts pc/bigger screens
    *****************************************/
    #featured{       
         padding: 0px 5%;
         grid-template-columns: 1fr 1fr 1fr;
         grid-template-areas: "h2 . topbtn"
         "postsection postsection postsection"
         "botbtn botbtn botbtn";
    }
    #featured #mainPagePosts{
        width: auto;
        grid-template-columns: 1fr 1fr;
        } 
     /****************************************
            main page contact box pc/bigger screens
    *****************************************/
    #mainpageContact{
        padding: 0px;
    }
    #contactBox{
        border-radius: 0px;
        margin-bottom: 0px;
        flex-direction: column;
        padding: 10px;

    }
     /****************************************
            all posts page pc/bigger screens
    *****************************************/
/*temp copy of retular post because it changes on tablet */
/* gjøre alle posts om til å bruke grid area*/
#allPosts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3% 10%;
    margin-bottom: 30px;
    width: 70%;
}
    #allPosts .post{
        grid-template-areas:
        "img img img img"
        "h3 h3 date date"
        "ex ex ex ex"
        "more . tags tags";
        grid-template-rows: auto auto auto 0.2fr;
        

    }
    #allPostsMain{
        padding-bottom: 20px;
    }
     /****************************************
            about  page pc/bigger screens
    *****************************************/
    #aboutNavigation{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 80px 0px;
    }
    .aboutBox{
        height: 400px;
    }
    .aboutBox img{
        height: 70%;
        width: auto;
    }
    #personInfo{
        border-top: #12A2B3 solid 300px;
    }
    .aboutInfo{
        grid-template-columns: 1fr;
        justify-items: center;
        
    }
    .aboutInfo *{
        grid-column: 1/2;
    }
    .aboutInfo img{
        grid-row: auto;
    }
    .aboutInfo div{
        grid-row: auto;
    }

         /****************************************
            contact  page pc/bigger screens
    *****************************************/
    #contact{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        column-gap: 30px;
        border: solid 0.3px black;
        margin-bottom: 15px;
        padding: 0px;
        width: 90%;

        
    }
    #contact > img{
        grid-column: 1/3;
        display: none;
    }
    #contactInfo{
        border: none;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        color: white;
        background-color: #12A2B3;
    }
    form{
        display: grid;
        grid-template-columns: 1fr 3fr;
        row-gap: 20px;
        margin: 0 auto;
     
    }
    form div{
        grid-column: 1/3;
    }
/*fixes too small cards at pc versions*/
    @media screen and (min-width:1300px) {
        #featured #mainPagePosts{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}