@keyframes loader {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
:root{
    --redColor: #fe2200;
    --blueColor: #12a2b3;
    --greenColor: #1f7e53;
    --noBorderRadius: 0px;
}
body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    /* on of the steps to make footer at bottom*/
    min-height: 100vh;
}
main{
    display: flex;
    flex-direction: column;
}
section{
    padding: 0 25px 0 25px ;
}
img{
    max-width: 100%;
}
/*everything with red border bottom  and global things*/
#hero, h2, h1, #carousel{
    border-bottom: 2px solid var(--redColor);
}
.sideBorder{
    border-left: 0.3px solid var(--redColor);
    border-right: 0.3px solid var(--redColor);
    padding:2px 7px 2px 7px
}
.errorMessage{
    display: none;
    background-color: var(--redColor);
    width: 90%;
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin: 0 auto 10px auto;
}
.errorMessage p{
    font-size: 1.3rem;
    font-weight: 400;
    margin: 2px;
}
/********************************************
                header
***********************************************/
#header{
background-color: var(--redColor);
padding: 0px;
margin: 0px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
justify-items: center;
align-items: center ;
}
#header a{
    width: 85px;
    grid-column: 2/3;
}
#nav{
    display: none;
}
#header #logo{
    width: 85px;
}
.show{
    width: 100%;
    height: 200px;
    position: absolute;
    grid-template-columns: 1fr;
    z-index: 1;
    background-color: var(--blueColor);
    top: 49px;
    justify-items: center;
    align-items: center;
}
#nav a{
    font-family: 'Racing Sans One', cursive;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
    grid-column: 1/2;
    color: #000000;
    text-decoration: underline solid var(--redColor);
}
#nav a.active{
    color: white;
}
/********************************************
                footer
***********************************************/
footer{
    background-color: var(--redColor);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items:center;
    margin-top: auto;
}
footer a{
    grid-column: 1/3;
}
#createdBy{
    grid-column: 1/3;
}
#footerEmail{
    grid-column: 1/2;
}
#contactFooter{
    grid-column: 2/3;
    color: #000000; 
}
#sources{
    grid-column: 1/3;
}
#disclaimer{
    grid-column: 1/3;
    text-align: center;
}

/********************************************
                text
***********************************************/
h2, h1{
    display: inline-block;
    font-family: 'Racing Sans One', cursive;
}
h1{
    text-align: center;
    margin: 4px 0px 10px 0px;
    align-self: center;
}
h2{
    margin-bottom: 10px;
}
p, a, h3, label,textarea, input{
    font-family: 'Barlow', sans-serif;
}
/********************************************
                buttons,links  and boxes
***********************************************/
button{
    border-color: transparent;
}
button:hover{
    cursor: pointer;
}
.green{
    background-color: var(--greenColor);
    border-radius: 5px;
    text-align: center;
    color: white;
    text-decoration: none;
    width:110px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.green:hover{
    text-decoration: underline;
    cursor: pointer;
}
/*
.green:focus{
    background-color: #105133;

}
*/
.white{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: white;
    height: 30px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    color: black;
    margin-top: 20px;
}
.blueA{
    text-decoration: underline;
    font-size: 1.5rem;
    color: var(--blueColor);
}
.tag, .all, .sortBtn{
    background-color: var(--blueColor);
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    padding: 0px;
    height: 40px;
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tagDiv{
    grid-column: 3/5;
    display: flex;
    column-gap: 5%;
    flex-direction: row-reverse;
    margin-right: 4px;

}
.blueBox{
    border-radius: 13px;
    background-color: var(--blueColor);
    padding: 5px;

}
/********************************************
                carousel
***********************************************/

#carousel{
    padding-bottom: 10px;
}
.carouselItems{
    padding-top: 10px;
    display: grid;
    
}
.carouselItems .post{
    display: none;
}
.carouselNavigation{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.navBtn{
    border-radius: 50%;
    background-color: #000000;
    color: white;
    font-size: 1.3rem;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.activeNav{
    background-color: #0DE7FF;
}
i{
    font-size: 30px;
}
.carouselNavigation i:hover{
    background-color: #dcd9d996;
    border-radius: 40%;
}
/********************************************
                post cards
***********************************************/
.fillerPost{
    animation-name: loader;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
/*make fillerpost show in carousel while loading */
#carousel .fillerPost{
    display: grid;
}
.post{
    border-radius: 4.5px;
    box-shadow: 0px 3.7px 3.7px rgba(0, 0, 0, 0.25);
    border:  0.1px solid #000000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "img img img img"
    "h3 h3 h3 h3"
    "date date date date"
    "ex ex ex ex"
    "more more tags tags";
    padding-bottom:10px;
    margin-bottom: 10px;

}
.post picture{
    grid-area: img;

}
.post img{
    width: 100%;
    height: 250px;
    /*my soluton to make image fill everything when not same size as the other on that row.*/
    object-fit: cover;
    object-position: top;
}
.post a.h3Link{
    display: inline-block;
    grid-area: h3;
    padding: 5px;
    color: #000000;
    text-decoration: underline var(--redColor) 2px;
    
}
.post a.h3Link h3{
    margin: 0;
}
.post .dateAndBy{
    grid-area: date;
    padding: 5px;
    margin: 0px;
}
.post .excerpt{
    grid-area: ex;
    padding: 5px;
    margin: 0;
}
.excerpt p{
    margin: 0;
}
.post .blueA{
    grid-area: more;
    padding: 5px;
}
.post .tagDiv{
    grid-area: tags;
    min-height: 40px;

    
}
/********************************************
                    about main page
***********************************************/

#aboutBox{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
}
#aboutBox h3{
    grid-column: 1/3;
    text-align: center;
    margin-top: 0;
}
#aboutBox p{
    grid-column: 1/3;
    margin: 5px;
}
/********************************************
                    contact main page
***********************************************/
#contactBox{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    margin-bottom: 20px;

}

/********************************************
                featured posts
***********************************************/

#featured{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
     "h2 topbtn"
     "postsection postsection"
     "botbtn botbtn";
     justify-items: center;
     align-items: center;
}
#featured h2{
grid-area: h2;
}
#featured #mainPagePosts{
    grid-area: postsection;
    width: 100%;
}
#featured #top{
    grid-area: topbtn;
}
#bottom{
    grid-area: botbtn;
    margin: 20px auto;
}


/********************************************
                all posts page
***********************************************/
#allPosts{
    padding: 0px;
    margin: 0 auto;
    width: 95%;
    margin-bottom: 10px;
}

/* hmmmm*/
.center{
    margin: 0 auto;
}
.filter{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;    
    justify-content: center;
    margin: 10px;
}

.filter button{
    border-radius: 2px;
}
/*show all posts / filter / tag*/
.filter .active, .filter button:hover, .tag:hover{
    cursor: pointer;
    box-sizing: border-box;
    font-size: 1.5rem;
    color: black;
    background-color: white;
    border:solid 2px var(--blueColor);
    

}
.filter .sortBtn{
    flex: 1 0 100%;
    
}

/********************************************
                posts page
***********************************************/

#post{
    width: 80%;
    margin: 0 auto;
}
#post p{
}
.postInfo{
    width: 80%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: var(--redColor) solid 2px;
}

#author{
    grid-column: 1/2;
}
#writtenOn{
    grid-column: 3/4;
}
.backBtn{
    color: #0DE7FF;
    font-weight: 500;
    font-size: 1.5rem;
    display: block;
    text-align: center;
    margin-bottom: 7px;
}
#post figure{
    margin: auto 0px;
    border-bottom: solid var(--redColor) 0.3px;
    border-top: solid var(--redColor) 0.3px;
    padding: 5px 0px;
}
#post figure img{
    height: 100%;
}
.postInfo div.tags{
    grid-column: 2/4;
    grid-row: 1/2;
    display: flex;
    gap: 10px;
    justify-items: center;
    align-items: center;
    flex-direction: row-reverse;

}
.postInfo div.byDate{
    display: flex;
    gap: 5px;
    grid-row: 2/3;
    grid-column: 1/4;
}

.fullScreen{
    position: fixed;
    display: none;
    z-index: 1;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
}
/*.fullScreen i{
    left: 88%;
    top: 18%;
    color: white;
    position:absolute;
}*/
.fullScreenImage{
    top:50%;
    width: 90%;
    margin: 0 auto;
}
.fullScreenImage img{
    width: 100%;
}
@keyframes hoverOverImg {
    from{
        transform: scale(1.0);
    }
    to{
        transform: scale(1.01);
    }
    
}
/*also added post to this so it looks more interactive*/
.hoverImg:hover, .post:hover{
    animation-name: hoverOverImg;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    
}
/********************************************
                contact page
***********************************************/
.hidden{
    visibility: hidden;
}
.error{
    margin: 0px;
    color: var(--redColor);
}

form, #success{
    width: 80%;
    margin: 0 auto;
    display: grid;
}
#successMsg{
    background-color: var(--greenColor);
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
}
form input, textarea{
    min-height: 26px;
    border-radius: 5px;
    background-color: #f3f3f3;
    border: solid black 1px;
    margin-top: 4px;
}
form input{
    width: 80%;
}
form label{
    margin-top: 10px;
}
#message{
    box-sizing: border-box;
    min-height: 110px;
    max-height: 110px;
    min-width: 100%;
    max-width: 100%;
}
.buttons{
    margin: 10px 0;
    display: flex;
    column-gap: 20px;
    align-items: center
}
#reset{
    height: 30px;
    width: 50px;
}

/********************************************
                about page
***********************************************/

.aboutBox{
    width: 90%;
    height: 50%;
    margin: 0 auto;
    background-color: #eee;
    border-radius: 10px;
    border: solid 1px #9d9d9d;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px 0;
    justify-content: space-between;
    row-gap: 10px;
}


.aboutBox h2{
    border: none;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    margin-top: 10px;
}
.aboutBox img{
    border-radius: 10px;
    width: 80%;
}
.aboutInfo{
    border-top: solid 2px var(--redColor);
}
.aboutInfo h3{
    text-align: center;
    text-decoration: underline 2px var(--redColor);
}
.aboutInfo p{
    width: 80%;
    margin: 0 auto;
}

/************************************************************************************
                        for between mobile and tablet, if there is some weird products, the pictures would be too zoomes in to be good
***********************************************************************************/
@media screen and (min-width:500px){
    .post img{
        height: 400px;

    }
}
/************************************************************************************
                        tablet
***********************************************************************************/
@media screen and (min-width:768px) {
    
    /***************
         navigation
    ******************/
    #header{
        grid-template-columns: 0.43fr 1fr 1fr 1fr 1fr;
        justify-items: normal;
    }
    #header i{
        display: none;
    }
    #nav{
        display: flex;
        grid-column: 3/6;
    }
    #nav a{
        text-decoration: none;
        
    }
    #tempNav{
        display: none;
    }

    /* featured tablet*/
    #mainPagePosts{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        row-gap: 10px;
        column-gap: 10px;
        
    }

    /*setting the post img to be a good size for the device again*/
   .post img{
       height: 300px;
   }
    /* contact main page tablet */
    #contactBox{
        height: 120px;
    }
    /* main page about */
    #aboutBox{
        align-items: center;
    }
    #personBtn, #pageBtn{
        grid-column: 2/3;
    }
    #personBtn{
        grid-row: 2/3;
        
    }
    #aboutBox p{
        grid-column: 1/2;
    }

    /***********************************************************
                                all posts page tablet(this should be used on carousel tablet also)
    *************************************************************/
    #allPosts .post, .carouselItems .post{
        max-height: 300px;
        border-radius: var(--noBorderRadius);
        grid-template-rows: 0.1fr 1fr 0.2fr 0.2fr;
        grid-template-areas:
        "h3 h3 img img"
        "ex ex img img"
        "date date img img"
        "more tags img img";
        padding-bottom: 0px;
    }
    #allPosts .post img{
        width: 100%;
    }
   
    #allPosts {
        display: inline-block;
        padding: 5px;
        
    }
    #allPosts.excerpt p{
        margin: 0;
    }
   
    #allPosts .post .tagDiv, .carouselItems .tagDiv{
        padding-bottom: 10px;
        margin-left: 5px;
    }
   
 /***********************************************************
                                single post page tablet
*************************************************************/
    #post{
        width: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        column-gap: 10px;
    }
    #post picture{
        grid-column: 1/3;
    }
    #post figure{
        grid-column: 2/3;
        grid-row: 2/3;
        border: none;
    }
    #post figure img, #post #preface{
        border-radius: 20px;
        max-height: 250px;
        object-fit: cover;


    }
    #post #preface{
        background-color: var(--blueColor);
        font-weight: 500;
        padding: 10px;
        grid-column: 1/2;
      
    }
    #post p{
        grid-column: 1/3;
    }
    .postInfo{
        grid-template-columns: 2fr 2fr 1fr 1fr;
        grid-column: 1/3;
        padding-bottom: 15px;
        width: 100%;
    }
    #post .postInfo .byDate{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    #post .tags{
        grid-column: 3/5;
        flex-direction: row-reverse;
    }
    .backBtn{
        grid-column: 1/3;
    }
    /*  temporarily removed 
    #post p:first-of-type{
        background-color: var(--blueColor);
        width: 50%;
        padding: 20px;
        border-radius: 10px;
        font-weight: 500;
    }*/
    /****************************************
    about page tablet
    *****************************************/

    .aboutBox{
        width: 70%;
    }
    #personInfo, #pageInfo{
        border-top: solid 120px #222222;
    }
    .aboutInfo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-bottom: 20px;
        justify-items: center;
    }
    .aboutInfo div{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .aboutInfo img{
        grid-row: 2/3;
    }
 /****************************************
    contact page tablet
    *****************************************/
    #contact{
        width: 75%;
        margin: 0 auto;
    }
    #contact .info, form{
        padding: 5px 7%;
    }
    .middle{
        text-align: center;
    }
  
    input{
        width: 90%;
        height: 25px;
    }
    #message{
        width: 70%;
        font-family: 'Barlow', sans-serif;
    }
    form{
        max-width: 100%;
        width: auto;
        margin: 0px;
        grid-template-columns: 1fr 0.9fr;
    }
    form input, form textarea, form label{
        grid-column: 1/2;
    }
    #ourEmail,#socialMedia{
        border-bottom: solid white 1px;
    }
    .error{
        margin-left: 10px;
        }
    #success{
        width: 50%;
        margin-left: 7%;
        margin-bottom: 10px;
    }
    #successMsg{
        margin: 0px;
    }
}

/*******************************************
               bigger screens 
********************************************/
@media screen and (min-width:1000px) {
       /****************************************
                   various global things pc/bigger screens
    *****************************************/
    .grid{
        display: grid;
    }
    section{
        padding: 0;
    }
   /* body{
        background-color: #f3f3f3;   
    }*/
    main{
        background-color: white;
    }
    
    .greyBorder{
        border-left: solid 150px #f3f3f3;
        border-right: solid 150px #f3f3f3;
    }
    .green{
        border-radius: 1px;
    }
    #hero{
        display: none;
    }
     /****************************************
                     header pc/bigger screens
    *****************************************/
    
    #header{
       height: 10%;
    }
    #header #logo{
        height: 100%;
        width: 50%;
    }
    #nav{
        width: 100%;
        gap: 12%;
        justify-content: center;
    }
    #nav a{
        font-size: 1.5rem;
    }
    #nav .current{
        color: white;
    }
    #nav a:hover{
        color: white;
        text-decoration: underline;
    }
     /****************************************
                    main page carousel pc/bigger screens
    *****************************************/
    #carousel{
        margin: 0 auto;
        width: 80%;
    }
    .carouselItems{
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        width: 100%;
    }
    /*reset the caroseul items after tablet version*/
    .carouselItems .post{
        max-height: none;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "img img img img"
        "h3 h3 h3 h3"
        "date date date date"
        "ex ex ex ex"
        "more more tags tags";
    }
    .carouselItems img, .carouselItems picture{
        height: 400px;
    }
    .navBtn:hover{
        background-color: #0DE7FF;
    }

    /****************************************
                    main page about pc/bigger screens
    *****************************************/
    #mainPageAbout{
        padding: 10px 0px;
    }
    /* also used for contact box */
    .blueContent{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .blueBox{
        grid-column: 1/5;
        grid-row: 2/3;
    }
    .headerForBlue{
        grid-column: 1/2;
        margin: 10px auto;
    }
    /*********************************************/
    #aboutBox{
        border-radius: var(--noBorderRadius);
        height: 250px;
        grid-template-columns: 1fr 1fr 0.5fr 1fr;
        justify-items: normal;
    }
    #aboutBox h3{
        grid-column: 2/4;
    }
    #aboutBox p{
        grid-column: 2/3;
    }
    #aboutBox a{
        grid-column: 3/4;
        margin: 0 auto;
    }
    /****************************************
            main page featured posts pc/bigger screens
    *****************************************/
    #featured{       
         
         grid-template-columns:1fr 1fr 1fr 1fr;
         grid-template-areas: "h2 . . topbtn"
         "postsection postsection  postsection postsection"
         "botbtn botbtn botbtn botbtn";
    }
    #featured #mainPagePosts{
        width: auto;
        padding: 20px;
        column-gap: 5%;
        } 
     /****************************************
            main page contact box pc/bigger screens
    *****************************************/
    #mainpageContact{
        grid-template-rows: auto auto;
    }
    #contactBox{
        border-radius: var(--noBorderRadius);
        margin-bottom: 0px;
        flex-direction: column;
        padding: 10px;

    }
     /****************************************
            all posts page pc/bigger screens
    *****************************************/
/*temp copy of retular post because it changes on tablet */
/* gjøre alle posts om til å bruke grid area*/
#allPosts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    gap: 10px 50px;
}
    #allPosts .post{
        grid-template-areas:
        "img img img img"
        "h3 h3 date date"
        "ex ex ex ex"
        "more more tags tags";
        grid-template-rows: auto auto auto 0.2fr;
        max-height: none;
        

    }
    #allPostsMain{
        padding-bottom: 20px;
    }
    /****************************************
            single post page pc/bigger screens
    *****************************************/
    #post{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 55%;
    }
    #post #preface{
        background-color: white;
        border-right: solid 5px var(--blueColor);
        border-radius: var(--noBorderRadius);
    }
    .backBtn{
        margin: 10px auto;
    }
    #post figure img{
        max-height: 500px;
    }
    #post p{
        max-width: 540px;
    }
    
    .fullScreenImage{
        width: auto;
        height: 80%;
    }
    .fullScreenImage img{
        height: 100%;
    }
     /****************************************
            about  page pc/bigger screens
    *****************************************/
    #aboutNavigation{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 80px 0px;
    }
    .aboutBox{
        height: 400px;
    }
    .aboutBox img{
        max-height: 70%;
        max-width: 70%;
        width: auto;
    }
    .fillerDiv{
        height: 200px;
        width: 100%;
        background-color: var(--blueColor);
    }
    #personInfo,#pageInfo{
        border-top: none;
    }
    .aboutInfo{
        grid-template-columns:1fr;
        justify-items: center;
        padding: 100px 0px;
        
    }
    .aboutInfo > *{
        max-width: 50%;
    }
    .aboutInfo img{
        padding: 10px;
    }
    .aboutInfo div{
        grid-row: auto;
        max-width: 60%;
    }

         /****************************************
            contact  page pc/bigger screens
    *****************************************/
    #contact{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        margin: 15px auto 15px auto;
        padding: 0px;
        width: 80%;
        background-color: white;

        
    }

    #contactMain{
        margin: auto 0px;
    }
    #contact > img{
        grid-column: 1/3;
        display: none;
    }
    #contactInfo{
        border: none;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        background-color: var(--blueColor);
    }
    #contactInfo p{
        color: black;

        font-size: 1.2rem;
    }
    #socialMedia, #ourEmail{
        border-color: #000000;
    }
    form{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        width: 80%;
        max-width: 80%;
     
    }
    form input{
        max-width: 40%;
    }
    form div{
        grid-column: 1/2;
    }
    #message{
        max-width: 250px;
        min-width: 70%;
    }
    #success{
        grid-column: 2/3;
        width: 80%;
        margin: 0 auto;
    }
    .error{
        margin-left: 0px;
    }
    #successMsg{
        display:flex;
        align-items: center;
        gap: 8px;
        width: 80%;
    }
}
/*fixes too small cards at pc versions*/
@media screen and (min-width:1300px) {
    #featured #mainPagePosts{
        padding: 0px 5%;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 80px;
    }
    #allPosts{
        width: 70%;
    }
}