body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
main{
    display: flex;
    flex-direction: column;
}
section{
    padding-left: 25px;
    padding-right: 25px;
}
img{
    max-width: 100%;
}
/*everything with red border bottom  and global things*/
#hero, h2, h1, #carousel{
    border-bottom: 2px solid #fe2200;
}
.sideBorder{
    border-left: 0.3px solid #fe2200;
    border-right: 0.3px solid #fe2200;
    padding:2px 7px 2px 7px
}
/********************************************
                header
***********************************************/
#header{
background-color: #fe2200;
padding: 0px;
margin: 0px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
justify-items: center;
align-items: center ;
}
#header a{
    width: 85px;
    grid-column: 2/3;
}
#nav{
    display: none;
}
#header #logo{
    width: 85px;
}
#hero{
}
/********************************************
                footer
***********************************************/
footer{
    background-color: #fe2200;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items:center;
}
footer a{
    grid-column: 1/3;
}
#createdBy{
    grid-column: 1/3;
}
#footerEmail{
    grid-column: 1/2;
}
#contactFooter{
    grid-column: 2/3;
    color: #000000; 
}
#sources{
    grid-column: 1/3;
}

/********************************************
                text
***********************************************/
h2, h1{
    display: inline-block;
    font-family: 'Racing Sans One', cursive;
}
h1{
    text-align: center;
    margin-top: 4px;
}
h2{
    margin-bottom: 10px;
}
p, a, h3, label{
    font-family: 'Barlow', sans-serif;
}
/********************************************
                buttons,links  and boxes
***********************************************/

.green{
    background-color: #1F7E53;
    border-radius: 5px;
    text-align: center;
    color: white;
    text-decoration: none;
    width:110px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.white{
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    height: 30px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    color: black;
    margin-top: 20px;
}
.blueA{
    text-decoration: underline;
    color: #12A2B3;
}
.tag{
    background-color: #12A2B3;
    text-decoration: none;
    color: white;
    height: 30px;
    width: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tagDiv{
    grid-column: 3/5;
    display: flex;
    column-gap: 5%;
    flex-direction: row-reverse;
    margin: 4px;

}
.blueBox{
    border-radius: 13px;
    background-color: #12a2b3;
    padding: 5px;

}
/********************************************
                carousel
***********************************************/

#carousel{
    padding-bottom: 10px;
}
.carouselItems{
    padding-top: 10px;
}
/********************************************
                post cards
***********************************************/
.post{
    border-radius: 4.5px;
    box-shadow: 0px 3.7px 3.7px rgba(0, 0, 0, 0.25);
    border:  0.1px solid #000000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    padding-bottom:10px;
    margin-bottom: 10px;

}
.post img{
    grid-column: 1/5;
    width: 100%;
}
.post h3{
    display: inline-block;
    grid-column: 1/5;
    padding: 5px;
    text-decoration: underline #fe2200 2px;
    
}
.post .dateAndBy{
    grid-column: 1/5;
    padding: 5px;
    margin: 0px;
}
.post .excerpt{
    grid-column: 1/5;
    padding: 5px;
    margin: 0;
}
.excerpt p{
    margin: 0;
}
.post .blueA{
    grid-column: 1/3;
    padding: 5px;
}
.post .tag{
    
}
/********************************************
                    about main page
***********************************************/
#mainPageAbout h2{
    margin-left: 10px;
}
#aboutBox{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
}
#aboutBox h3{
    grid-column: 1/3;
    text-align: center;
    margin-top: 0;
}
#aboutBox p{
    grid-column: 1/3;
    margin: 5px;
}
/********************************************
                    contact main page
***********************************************/
#contactBox{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    margin-bottom: 20px;

}

/********************************************
                featured posts
***********************************************/

#featured{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
     "h2 topbtn"
     "postsection postsection"
     "botbtn botbtn";
     justify-items: center;
     align-items: center;
}
#featured h2{
grid-area: h2;
}
#featured #mainPagePosts{
    grid-area: postsection;
    width: 100%;
}
#featured #top{
    grid-area: topbtn;
}
#featured #bottom{
    grid-area: botbtn;
    margin: 10px
}


/********************************************
                all posts page
***********************************************/
#allPosts{
    padding: 0px;
    margin: 0 auto;
    width: 95%;
    margin-bottom: 10px;
}

/* hmmmm*/
.center{
    margin: 0 auto;
}
/********************************************
                posts page
***********************************************/

#post{
    width: 80%;
    margin: 0 auto;
}
.content{
}
.postInfo{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: #fe2200 solid 2px;
}
.tags{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
#author{
    grid-column: 1/2;
}
#writtenOn{
    grid-column: 3/4;
}
.backBtn{
    display: block;
    text-align: center;
    margin-bottom: 7px;
}

/********************************************
                contact page
***********************************************/

form{
    width: 80%;
    margin: 0 auto;
    display: grid;
}
form input{
    min-height: 26px;
    border-radius: 5px;
    background-color: #f3f3f3;
    border: solid black 1px;
    margin-top: 4px;
}

form label{
    margin-top: 10px;
}
#message{
    min-height: 110px;
}
.buttons{
    margin: 10px 0;
    display: flex;
    column-gap: 20px;
    align-items: center
}

/********************************************
                about page
***********************************************/

.aboutBox{
    width: 90%;
    margin: 0 auto;
    background-color: #eee;
    border-radius: 10px;
    border: solid 1px #9d9d9d;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px 0;
}
.aboutBox h2{
    border: none;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    margin-top: 10px;
}
.aboutBox img{
    border-radius: 10px;
    width: 70%;

}
.aboutInfo{
    border-top: solid 2px #fe2200;
}
.aboutInfo h3{
    text-align: center;
    text-decoration: underline 2px #fe2200;
}
.aboutInfo p{
    width: 80%;
    margin: 0 auto;
}

/*****************************************************
                        tablet
****************************************************/
@media screen and (min-width:768px) {

    /***************
         navigation
    ******************/
    #header{
        grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
    }
    #header a{
        grid-column: 2/3;
    }
    #nav{
        display: flex;
        grid-column: 3/6;
    }
    #nav a{
        text-decoration: none;
        color: #000000;
        font-family: 'Racing Sans One', cursive;
        text-align: center;
    }
    #tempNav{
        display: none;
    }

/********************************************
dette er for karusel, gjøres senere
*******************************
    .post{
        border-radius: 0px;
        box-shadow: 0px 3.7px 3.7px rgba(0, 0, 0, 0.25);
        border:  0.1px solid #000000;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.1fr 1fr 0.2fr 0.2fr;
        padding-bottom:10px;
        margin-bottom: 10px;
        justify-items: center;
    
    }
    .post img{
        grid-column: 3/5;
        grid-row: 1/5;
        width: 100%;
    }
    .post h3{
        display: inline-block;
        grid-column: 1/3;
        grid-row: 1/2;
        padding: 5px;
        text-align: center;
        text-decoration: underline #fe2200 2px;
        
    }
    .post .dateAndBy{
        grid-column: 1/2;
        grid-row: 3/4;

        padding: 5px;
        margin: 0px;
    }
    .post .excerpt{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .excerpt p{
        margin: 0;
    }
    .post .blueA{
        grid-column: 1/3;
        grid-row: 4/5;
        text-align: center;
        padding: 5px;
    }
    .post .tag{
        grid-column: 2/3;
        grid-row: 3/4;
    
    }
    */
    /* featured tablet*/
    #mainPagePosts{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        row-gap: 10px;
        column-gap: 10px;
        
    }
    /* contact main page tablet */
    #contactBox{
        height: 120px;
    }
    /* main page about */
    #aboutBox{
        align-items: center;
    }
    #personBtn, #pageBtn{
        grid-column: 2/3;
    }
    #personBtn{
        grid-row: 2/3;
        
    }
    #aboutBox p{
        grid-column: 1/2;
    }

    /***********************************************************
                                all posts page tablet(this should be used on carousel tablet also)
    *************************************************************/
    #allPosts .post{
        border-radius: 0px;
        box-shadow: 0px 3.7px 3.7px rgba(0, 0, 0, 0.25);
        border:  0.1px solid #000000;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.1fr 1fr 0.2fr 0.2fr;
        padding-bottom:10px;
        margin-bottom: 10px;
        justify-items: center;
    }
    #allPosts .post img{
        grid-column: 3/5;
        grid-row: 1/5;
        width: 100%;
    }
    #allPosts .post h3{
        display: inline-block;
        grid-column: 1/3;
        grid-row: 1/2;
        padding: 5px;
        text-align: center;
        text-decoration: underline #fe2200 2px;
        
    }
    #allPosts .post .dateAndBy{
        grid-column: 1/2;
        grid-row: 3/4;

        padding: 5px;
        margin: 0px;
    }
    #allPosts .post .excerpt{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    #allPosts.excerpt p{
        margin: 0;
    }
    #allPosts .post .blueA{
        grid-column: 1/3;
        grid-row: 4/5;
        text-align: center;
        padding: 5px;
    }
    #allPosts .post .tagDiv{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    #allPosts .post .tag{
        
    
    }
 /***********************************************************
                                single post page tablet
*************************************************************/
    #post{
        width: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: auto auto auto;
    }
    #featuredImage{
        grid-column: 1/3;
    }
    #forord{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #post img:last-of-type{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .content{
        grid-column: 1/3;
    }
    .postInfo{
        grid-column: 1/3;
    }
    .postInfo p{
        grid-column: 1/2;
    }
    .backBtn{
        grid-column: 1/3;
    }
    /****************************************
    about page tablet
    *****************************************/

    .aboutBox{
        width: 70%;
    }
    #personInfo{
        border-top: solid 120px #222222;
    }
    .aboutInfo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center


    }
    .aboutInfo div{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .aboutInfo img{
        grid-row: 2/3;
    }
 /****************************************
    contact page tablet
    *****************************************/
    #contact{
        width: 75%;
        margin: 0 auto;
    }
    #contact img{
        max-width: 100%;
    }
    #contact .info, form{
        padding: 5px 7%;
    }
    .middle{
        text-align: center;
    }
  
    input{
        width: 60%;
    }
    #message{
        width: 70%;
    }
    form{
        margin: 0 0;
    }
}

/*******************************************
               bigger screens 
********************************************/
@media screen and (min-width:1024px) {
    #hero{
    }
}